<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.togetherTeam.platform.mapper.chatRoomMapper">

	<insert id="createChatRoom" parameterType="com.togetherTeam.platform.entity.ChatRoom">
		INSERT INTO CHAT_ROOM(
  			CHAT_ROOM_NO,
  			SELLER_MEM_NO,
  			BUYER_MEM_NO,
  			ROOM_DATE,
  			PRO_NO
  		) VALUES (
  			#{chat_room_no},
  			#{seller_mem_no},
  			#{buyer_mem_no},
  			#{room_date},
  			#{pro_no}
  		)	
	</insert>
	
	<select id="readChatHistory" parameterType="com.togetherTeam.platform.entity.ChatRoom" resultType="com.togetherTeam.platform.entity.Chat">
		SELECT *
		  FROM CHAT
		 WHERE CHAT_ROOM_NO = #{CHAT_ROOM_NO}
		 ORDER BY CHAT_DATE
	</select>
	
	<insert id="chatMessage" parameterType="com.togetherTeam.platform.entity.Chat">
		INSERT INTO CHAT (
			CHAT_ROOM_NO,
			CHAT_MEM_NO,
			CHAT_CONTENT,
			CHAT_DATE
		) VALUES (
			#{chat_room_no},
			#{chat_mem_no},
			#{chat_content},
			#{chat_date}
		)
	</insert>
	
    <select id="checkChatRoom" parameterType="com.togetherTeam.platform.entity.ChatRoom" resultType="com.togetherTeam.platform.entity.ChatRoom">
    	SELECT *
    	  FROM CHAT_ROOM
    	 WHERE PRO_NO = #{proNo} 
    	   AND BUYER_MEM_NO = #{buyerNo}
    </select>
    
    <select id="getChatList" resultType="com.togetherTeam.platform.entity.ChatRoom">
    	SELECT *
    	  FROM CHAT_ROOM
    	 WHERE SELLER_MEM_NO = #{memNo}
    </select>
    
    <select id="findChatRoom" resultType="com.togetherTeam.platform.entity.ChatRoom">
    	SELECT *
    	  FROM CHAT_ROOM
    	 WHERE CHAT_ROOM_NO = #{chatRoomNo}
    </select>
    
    
</mapper>