<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.togetherTeam.platform.mapper.chatRoomMapper">

	<insert id="createChatRoom" parameterType="com.togetherTeam.platform.entity.ChatRoom">
		INSERT INTO CHAT_ROOM(
  			CHAT_ROOM_NO,
  			SELLER_MEM_NO,
  			BUYER_MEM_NO,
  			ROOM_DATE,
  			PRO_NO
  		) VALUES (
  			#{chat_room_no},
  			#{seller_mem_no},
  			#{buyer_mem_no},
  			#{room_date},
  			#{pro_no}
  		)	
	</insert>
	
	<select id="readChatHistory" parameterType="com.togetherTeam.platform.entity.ChatRoom" resultType="com.togetherTeam.platform.entity.Chat">
		SELECT a.*,
       		   b.MEM_ID as CHAT_MEM_ID
  		  FROM CHAT a INNER JOIN MEMBER b
  		    ON a.CHAT_MEM_NO = b.MEM_NO
		 WHERE CHAT_ROOM_NO = #{CHAT_ROOM_NO}
		 ORDER BY CHAT_DATE DESC
	</select>
	
	<insert id="insertChat" parameterType="com.togetherTeam.platform.entity.Chat">
		INSERT INTO CHAT (
			CHAT_ROOM_NO,
			CHAT_MEM_NO,
			CHAT_CONTENT,
			CHAT_DATE
		) VALUES (
			#{chat_room_no},
			#{chat_mem_no},
			#{chat_content},
			#{chat_date}
		)
	</insert>
	
    <select id="checkChatRoom" parameterType="com.togetherTeam.platform.entity.ChatRoom" resultType="com.togetherTeam.platform.entity.ChatRoom">
    	SELECT *
    	  FROM CHAT_ROOM
    	 WHERE PRO_NO = #{proNo} 
    	   AND BUYER_MEM_NO = #{buyerNo}
    </select>
    
    <select id="getChatList" resultType="com.togetherTeam.platform.entity.ChatRoom">
    	SELECT *
    	  FROM CHAT_ROOM
    	 WHERE SELLER_MEM_NO = #{memNo}
    	    OR BUYER_MEM_NO = #{memNo}
    </select>
    
    <select id="findChatRoom" resultType="com.togetherTeam.platform.entity.ChatRoom">
    	SELECT *
    	  FROM CHAT_ROOM
    	 WHERE CHAT_ROOM_NO = #{chatRoomNo}
    </select>
    
    <select id="findChatRead" parameterType="int" resultType="int">
    	SELECT COUNT(*)
    	  FROM CHAT
    	 WHERE CHAT_ROOM_NO = #{chatRoomNo}
    	   AND CHAT_MEM_NO = #{memNo}
    	   AND CHAT_READ = 0
    </select>
    
    <update id="updateChatRead">
    	UPDATE CHAT 
    	   SET CHAT_READ = 1
    	 WHERE CHAT_MEM_NO = #{chatMemNo}
    	   AND CHAT_ROOM_NO = #{chatRoomNo}
    </update>
    
    <select id='getRecentChat' resultType="com.togetherTeam.platform.entity.Chat">
    	SELECT *
    	  FROM CHAT
    	 WHERE CHAT_ROOM_NO = #{chatRoomNo}
    	   AND ROWNUM = 1
    </select>
    
    <!-- 아이디 바인딩용 확인 -->
  <select id="getId" resultType="String">
  	SELECT MEM_ID
  	  FROM MEMBER
  	 WHERE MEM_NO = #{memNO}
  </select>
  
</mapper>