<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.togetherTeam.platform.mapper.memberMapper">

  <!-- 회원가입 sql -->
  <insert id="join" parameterType="com.togetherTeam.platform.entity.Member">
  	insert into member(
  		mem_id,
  		mem_pwd,
  		mem_name,
  		mem_phone,
  		mem_birth,
  		mem_email
  	) values (
  		#{mem_id},
  		#{mem_pwd},
  		#{mem_name},
  		#{mem_phone},
  		#{mem_birth},
  		#{mem_email}
  	)
  </insert>
  
  <!-- 아이디 중복여부 확인 sql -->
  <select id="check_id" resultType="int">
    select count(*) from member
	 where mem_id = #{id}
  </select>
  
  <!-- 아이디찾기 sql -->
  <select id="search_id" parameterType="com.togetherTeam.platform.entity.Member" 
  resultType="com.togetherTeam.platform.entity.Member">
    select * from member
	 where mem_name = #{mem_name}
       and mem_phone = #{mem_phone}
  </select>

  <!-- 비밀번호찾기 sql -->
  <select id="search_pwd" parameterType="com.togetherTeam.platform.entity.Member" 
  resultType="com.togetherTeam.platform.entity.Member">
    select * from member
	 where mem_id = #{mem_id}
	   and mem_phone = #{mem_phone}
       and mem_email = #{mem_email}
  </select>

  <!-- 비밀번호변경 sql -->
  <update id="change_pwd" parameterType="com.togetherTeam.platform.entity.Member">
    update member
       set mem_pwd = #{mem_pwd}
	 where mem_id = #{mem_id}
  </update>

  <!-- 회원정보변경 sql -->
  <update id="change_info" parameterType="com.togetherTeam.platform.entity.Member">
    update member
       set mem_pwd = NVL(#{mem_pwd}, mem_pwd)
         , mem_phone = #{mem_phone}
         , mem_email = #{mem_email}
	 where mem_id = #{mem_id}
  </update>
  
  <!-- 로그인정보수정 sql -->
  <select id="update_login" parameterType="com.togetherTeam.platform.entity.Member" 
  resultType="com.togetherTeam.platform.entity.Member">
    select * from member
	 where mem_id = #{mem_id}
  </select>
  
  <!-- 좋아요 목록 가져오기 sql -->
  <select id="mypage_likeList" parameterType="com.togetherTeam.platform.entity.Member" 
  resultType="com.togetherTeam.platform.entity.Product">
    select B.*
      from like_list A
         , product B
	 where A.pro_no = B.pro_no
	   and A.mem_no = #{mem_no}
	   and pro_sale = 'N'
  </select> 
  
  <!-- 로그인 sql -->
  <select id="login" parameterType="com.togetherTeam.platform.entity.Member" 
  resultType="com.togetherTeam.platform.entity.Member">
    select * from member
	 where mem_id = #{mem_id}
       and mem_pwd = #{mem_pwd}
  </select>


</mapper>