<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.togetherTeam.platform.mapper.productMapper">

	<!-- proList.jsp 진입 전체 상품 불러오기  -->
	<select id="getAllList" resultType="com.togetherTeam.platform.entity.Product">
		SELECT *
		  FROM product
	</select>
	
	<!-- proList.jsp 진입 전체 상품 불러오기 (최신순)  -->
	<select id="getAllListRecent" resultType="com.togetherTeam.platform.entity.Product">
		SELECT *
		  FROM product
		 ORDER BY pro_date DESC
	</select>	
	
	<!-- proList.jsp 진입 전체 상품 불러오기 (인기순) -->
	<select id="getAllListLike" resultType="com.togetherTeam.platform.entity.Product">
		SELECT *
		  FROM product
		 ORDER BY pro_like DESC
	</select>
	
	<!-- proList.jsp 카테고리별 상품 불러오기 -->
	<select id="getCategoryList" parameterType="String" resultType="com.togetherTeam.platform.entity.Product">
		SELECT *
		  FROM product
		 WHERE pro_category = #{category}
	</select>
	
	<!-- proList.jsp 카테고리별 상품 불러오기 (최신순) -->
	<select id="getCategoryListRecent" parameterType="String" resultType="com.togetherTeam.platform.entity.Product">
		SELECT *
		  FROM product
		 WHERE pro_category = #{category}
		 ORDER BY pro_date DESC
	</select>

	<!-- proList.jsp 카테고리별 상품 불러오기 (인기순) -->
	<select id="getCategoryListLike" parameterType="String" resultType="com.togetherTeam.platform.entity.Product">
		SELECT *
		  FROM product
		 WHERE pro_category = #{category}
		 ORDER BY pro_like DESC
	</select>

	<!-- registration.jsp 상품 등록하기 -->
	<insert id="productRegister" parameterType="com.togetherTeam.platform.entity.Product">
		insert into product(seller_mem_no, pro_title, pro_category, pro_name, pro_theme, buy_date, pro_buy_price, pro_sale_price, pro_content)
		values (#{seller_mem_no}, #{pro_title}, #{pro_category}, #{pro_name}, #{pro_theme}, #{buy_date}, #{pro_buy_price}, #{pro_sale_price}, #{pro_content})
	</insert>


	
</mapper>