@charset "utf-8";

/*==========================================================================
common - header / footer
==========================================================================*/

/*접근성*/
.ally-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: 11;
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.eot");
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.eot?#iefix") format('embedded-opentype'), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff2") format('woff2'), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff") format('woff'), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.eot");
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.eot?#iefix") format('embedded-opentype'), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.woff2") format('woff2'), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.woff") format('woff'), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot?#iefix") format('embedded-opentype'), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff2") format('woff2'), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff") format('woff'), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot?#iefix") format('embedded-opentype'), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff2") format('woff2'), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff") format('woff'), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot");
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot?#iefix") format('embedded-opentype'), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff2") format('woff2'), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff") format('woff'), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot");
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot?#iefix") format('embedded-opentype'), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff2") format('woff2'), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff") format('woff'), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot?#iefix") format('embedded-opentype'), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff2") format('woff2'), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff") format('woff'), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot");
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot?#iefix") format('embedded-opentype'), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff2") format('woff2'), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff") format('woff'), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.eot");
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.eot?#iefix") format('embedded-opentype'), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.woff2") format('woff2'), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.woff") format('woff'), url("https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* 스크롤 설정 */
body::-webkit-scrollbar,
html::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
    background-color: #999;
}

body::-webkit-scrollbar-track,
html::-webkit-scrollbar-track {
    background-color: #ddd;
}

/* 색상 설정 */
.main-color {
    color: #1f79df;
}

.sub-color {
    color: #ff9000;
    background-color: #ff9000;
}

.tit-color {
    color: #222;
}

.txt-color {
    color: #666;
}

.ttxt-color {
    color: #999;
}


/* common */

#wrap {
    width: 100%;
    font-family: 'Pretendard';
    margin-top: 80px;
}

.main {
    margin: 0 auto;
    width: 1400px;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.logo-wrap {
    top: 0;
    position: absolute;
    margin-top: 18px;
}

#logo a img {
    height: 40px;
}

h2 {
    padding-bottom: 40px;
    font-size: 2.7rem;
    font-weight: 600;
    text-align: center;
}

/* header */



header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    z-index: 999;
}


/* 상단 배너 */

header .gnb-wrap ul.gnb {
    display: flex;
    justify-content: center;
}

header .gnb-wrap ul.gnb li:not(:last-child) {
    margin-right: 115px;
}

header .gnb-wrap ul.gnb li a {
    font-size: 1.1rem;
    color: #222;
    font-weight: 600;
}

header nav .nav-wrap {
    position: relative;
    padding: 25px 0;
    flex-direction: row;
}

header nav .nav-wrap .util-menu {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 27px;
}

header nav .nav-wrap .util-menu li:not(:first-child) {
    padding-left: 15px;
}


header nav .nav-wrap .util-menu li:not(:last-child) {
    padding-right: 15px;
}




header nav .nav-wrap .util-menu li a {
    font-size: 1.0rem;
    color: #999;
}

.after::after {
    position: absolute;
    margin: 5px 15px;
    content: "";
    background-color: #ddd;
    width: 1px;
    height: 13px;
    display: inline-block;
}

/* footer*/
footer {
    width: 100%;
    margin-top: 100px;
    padding-top: 40px;
    border-top: 1px solid #ddd;
    position: inherit;
}

footer .info_contact img {
    height: 40px;
    position: absolute;
}

footer .info_contact .info-wrap {
    width: 80%;
    float: right;
    padding-bottom: 40px;
}

footer .info_contact ul li {
    float: left;
    color: #999;
    line-height: 1.4rem;
    font-size: 0.9rem;
}

footer .info_contact ul li:not(:last-child)::after {
    margin: 0 15px;
    content: "";
    background-color: #ddd;
    width: 1px;
    height: 10px;
    display: inline-block;
}


footer .info_contact .info-wrap p {
    padding-top: 10px;
    font-size: 0.9rem;
    color: #ccc;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}



/* 상품 리스트------------------------------------------------------ */

/*tab menu*/
.row {
    margin-right: 0;
    margin-left: 0;
}

.nav-tabs {
    margin-bottom: 40px;
}

.nav-tabs .nav-link {
    border: none;
    box-sizing: border-box;
}

.nav-tabs .nav-item {
    text-align: center;
    padding: 0;
}

.nav-tabs .nav-item .nav-link {
    font-size: 1.2rem;
    font-weight: 500;
}


.pro-list .pro-info {
    text-align: center;
}

.pro-list .pro-info .name {
    margin: 30px 0 3px;
    padding: 0 20px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #222;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pro-list .pro-info .price {
    font-size: 1.1rem;
    font-weight: 800;
    color: #222;
}

.pro-list .pro-info .price .won {
    font-weight: 400;
    color: #666;
}

.pro-list a .pro-img {
    overflow: hidden;
    border: 1px solid #ddd;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #1f79df;
    border-bottom: 2px solid #1f79df;
}

.pro-list .pro-m>div:not(:last-child){
    margin-bottom: 50px;
}


.pro-img img{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out;   /* 부드러운 모션을 위해 추가*/
    width: 330px;
    height: 330px;
    object-fit: cover;
}

.pro-list a .won {
    padding-left: 3px;
}


.pro-list a:hover .pro-img img{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.pro-list a:hover .pro-info p, 
.pro-list a:hover .won {
    color: #1f79df !important;
}


.represent {
    float: left;
    position: relative;
    width: 55%;
    height: 580px;
    box-sizing: border-box;
}

.represent ul.represent-list {
    width: 130px;
    height: 580px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: outside none none;
}

.represent ul.represent-list li {
    height: 25%;
    box-sizing: border-box;
}

#imgRepresent {
    width: 580px;
    height: 580px;
    position: absolute;
    right: 0;
    object-fit: cover;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.represent ul.represent-list li img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border: 1px solid #ddd;
    box-sizing: border-box;
}


/* 우측 상품 정보 */
.view-wrap {
    position: relative;
    padding-top: 130px;
}

.view-wrap .view-info {
    position: absolute;
    right: 0;
    height: 580px;
    width: 45%;
    padding-left: 100px;
    box-sizing: border-box;
}

.view-wrap .view-info .category {
    margin-bottom: 10px;
    font-size: 1.3rem;
    font-weight: 500;
    color: #999;
}

.view-wrap .view-info .pro-name {
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 800;
    line-height: 2.4rem;
    color: #222;
}

.view-wrap .view-info .tag {
    margin-bottom: 15px;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 3px;
    background-color: #ff9000;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    
}

.view-wrap .view-info .txt {
    font-size: 1.0rem;
    color: #666;
    word-break: keep-all;
}

.view-wrap .view-info .pro-price {
    margin: 15px 0;
}

.view-wrap .view-info .pro-price span {
    font-size: 1.7rem;
    color: #222;
}

.view-wrap .view-info .pro-price .tit {
    margin-right: 70px;
    font-weight: 600;
}

.view-wrap .view-info .pro-price .price {
    font-weight: 900;
}

.view-wrap .view-info .pro-price .won {
    font-size: 1.2rem;
    font-weight: 400;
    color: #666;
}

.view-info table {
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.view-info table {
    font-family: 'Pretendard';
}

.view-info table tr:first-child td {
    padding-top: 20px;
}

.view-info table tr:last-child td {
    padding-bottom: 20px;
}

.view-info table tr td {
    padding: 13px 0 13px 20px;
    font-size: 1.0rem;
    color: #999;
}

.view-info table tr td:first-child {
    font-weight: 500;
}

.info-wrap .info-con {
    padding: 50px 100px;
    border-bottom: 1px solid #222;
}

.view-wrap .info-wrap .info-tit {
    border-bottom: 2px solid #222;
}

.view-wrap .info-wrap .info-tit p {
    padding-top: 80px;
    margin-bottom: 10px;
    font-size: 1.3rem;
    font-weight: 700;
    color: #222;
}

.view-info .btn {
    position: absolute;
    bottom: 0;
    display: flex;
    padding: 0;
}

.view-info .btn input {
    width: 245px;
    height: 60px;
    border-radius: 30px;
    font-family: 'Pretendard';
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0;
}

.view-info .btn .like-btn, .view-info .btn .modify-btn {
    border: 1px solid #1f79df;
    background: none;
    color: #1f79df;
    box-sizing: border-box;
}

.view-info .btn .like-btn:hover, .view-info .btn .modify-btn:hover {
    background-color: #1f79df;
    color: #fff;
    transition: all 0.2s;
}

.view-info .btn .chat-btn, .view-info .btn .delete-btn {
    margin-left: 10px;
    background-color: #1f79df;
    border: 1px solid #1f79df;
    color: #fff;
    box-sizing: border-box;
}

.view-info .btn .chat-btn:hover, .view-info .btn .delete-btn:hover {
    background-color: #0059bf;
    color: #fff;
    transition: all 0.2s;
}

.info-wrap .seller-info {
    margin-top: 70px;

}

.info-wrap .de-tit {
    margin-bottom: 10px;
    font-size: 1.05rem;
    font-weight: 666;
}

.info-wrap .de-table table {
    width: 100%;
    font-family: 'Pretendard';
    border: 1px solid #ddd;
}

.info-wrap .de-table td {
    padding: 15px 0 15px 20px; 
}

.info-wrap .de-table td:nth-child(2n-1) {
    background-color: #f8f8f8;
    border-right: 1px solid #ddd;
    color: #222;
    font-weight: 600;
}

.info-wrap .de-table td:nth-child(2){
	border-right: 1px solid #ddd;
}

.info-wrap .de-table td:last-child {
    color: #666;
}

.info-wrap .seller-info .sell-wrap {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.info-wrap .seller-txt {
    margin: 30px 0 30px 50px;
    word-break: keep-all;
}




























