@charset "utf-8";

/*==========================================================================
common - header / footer
==========================================================================*/

/*접근성*/
.ally-hidden {position:absolute;width:1px;height:1px;overflow:hidden;z-index:11;}


/* common */
#wrap {
    width:100%;
    margin:0 auto;
    position:relative;
    overflow:hidden;
    font-family: 'Pretendard';
}

.container {
    width: 1400px;
    margin: 0 auto;
    border: 1px solid red;
    box-sizing: border-box;
}

/* header */
header {
    padding: 30px 0;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

header h1{
    left: 0;
    float: left;
}

header .gnb-wrap {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
}

header .gnb-wrap ul.gnb {
    display: flex;
}

header .gnb-wrap ul.gnb li:not(:last-child) {
    margin-right: 115px;
}

header .gnb-wrap ul.gnb li a {
    font-size: 1.1rem;
    color: #222;
}

header nav .nav-wrap {
    position: relative;
}

header nav .nav-wrap .util-menu {
    position: absolute;
    top: 0;
    right: 0;
}

header nav .nav-wrap .util-menu li {
    float: left;

}










/* footer*/
.footer {background:#000;padding:var(--padding-init);}
.footer [class*="xi-"]{color:#efebe0;width:30px;font-size:30px;height:30px;line-height:30px;}
.footer .info_con {padding:38px 0;}
.footer [class*="info_"] h2 {display:block;font-family:'IbarraRealNova';color:var(--color-sub);}
.footer [class*="info_"] ul{display:flex;}
.footer [class*="info_"] li + li {margin-left: 20px;}
.footer [class*="info_"] li a {display:block;color:#efebe0;line-height:30px;font-size:14px;}
.footer [class*="info_"] li a * {display:inline-block;vertical-align:middle}
.footer [class*="info_"] li a [class*="xi-"] {margin-right:10px;}

.footer .info_con li {display:inline-block;}
.footer .info_contact {padding-bottom:38px;}
