/*==========================================================================
common media screen tab and mobile
==========================================================================*/

@media screen and (max-width:1460px) {
	/* header*/
	.con-inner {
		margin: 0 auto;
		width: 1400px;
		min-width: 1400px;
	}

	.sub-inner {
		width: 1400px;
    	margin: 0 auto;
	}

	

	/* footer*/
	.footer .f_inner {width:100%;padding: 0 38px;}


}

@media (min-width: 1460px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1400px;
	}
}

@media (min-width: 1460px) {
	.sub-inner {
		width: 1400px;
		padding-top: 70px;
		margin: 0 auto;
	}
}




