@charset "utf-8";
/*@import "../fonts/font.css";*/

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */
html,body {width:100%;}
html,body, button, input, select, table, textarea {font-family:"Noto Sans KR", "Arial", Arial, Dotum; font-size: 16px;line-height:1.4;font-weight:normal;color: #101010;letter-spacing:-0.5px;}
html ,body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,input,table,tr,th,td,button, input, select, textarea {
margin:0;padding:0;border:0;-webkit-appearance: none;-webkit-border-radius: 0;
    word-wrap: break-word;
    word-break: keep-all;
}
body {overflow-x:hidden;}
/*::-moz-selection { background: #b3d4fc; text-shadow: none;overflow-y: scroll;}
::selection {background: #aaa; text-shadow: none;}*/
hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}
img {vertical-align:middle;border:none;max-width:100%;display:block;}
fieldset {border: 0; margin: 0; padding: 0;}

input[type='text'],input[type='password'],input[type='submit'],input[type='search'],input[type='number'],input[type='tel'],input[type='date'] {-webkit-appearance:none; border-radius:0;}
a {color:#494949;text-decoration:none;}
a:visited {/*color:#494949;*/text-decoration:none;}
a:hover {/*color:#494949;*/text-decoration: none;}
select {font-family:"Noto Sans KR", "Arial", Arial,Dotum; font-size: 14px;vertical-align:middle;}
dd{margin:0;}
label,input{vertical-align:middle;}
input, select {height:50px;line-height:30px;padding:10px;border:1px solid #000;}
textarea {padding:10px;line-height:30px;resize: none;border:1px solid #000;}

ul,ol,li{list-style:none;padding:0;}
.clear{clear:both;content:"";display:block;/*padding:0;margin:0;width:0;height:0;line-height:0;font-size:0;*/}
.cf:after{clear:both;content:"";display:block;}
li, p { background-image:url(''); }
caption,.hidden{text-indent:-9900px;top:0;width:0;height:0;overflow:hidden;font-size:0 !important; }
/*h3,th{line-height:auto;}*/
table {border-spacing: 0;table-layout:fixed;}
*:first-child+html table {border-collapse:collapse;border-spacing:0;}
em {font-style:inherit;}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
iframe {border:none !important;}


:root {
	--color-main:#045a12;
	--color-sub:#ff76bf;
	--color-font:#333;

	--main-bg:url('../../images/main/bg_mainfull_y.jpg') repeat;
	--trans-init:0.8s 0.1s all;
	--padding-init:0 38px;
}

/* margin + padding */
.mt0 {margin-top:0px !important;}   .mb0 {margin-bottom:0 !important;}
.mt5 {margin-top:5px !important;}   .mb5 {margin-bottom:5px !important;}
.mt10 {margin-top:10px !important;}	.mb10 {margin-bottom:10px !important;}	.mtm10 {margin-top:-10px !important;}
.mt20 {margin-top:20px !important;}	.mb20 {margin-bottom:20px !important;}	.mtm20 {margin-top:-20px !important;}
.mt30 {margin-top:30px !important;}	.mb30 {margin-bottom:30px !important;}	.mtm30 {margin-top:-30px !important;}
.mt40 {margin-top:40px !important;}	.mb40 {margin-bottom:40px !important;}	.mtm40 {margin-top:-40px !important;}
.mt50 {margin-top:50px !important;}	.mb50 {margin-bottom:50px !important;}	.mtm50 {margin-top:-50px !important;}
.ml0 {margin-left:0 !important;}
.ml5 {margin-left:5px !important;}	    .mr5 {margin-right:5px !important;}
.ml10 {margin-left:10px !important;}	.mr10 {margin-right:10px !important;}
.ml20 {margin-left:20px !important;}	.mr20 {margin-right:20px !important;}
.ml30 {margin-left:30px !important;}	.mr30 {margin-right:30px !important;}
.ml40 {margin-left:40px !important;}	.mr40 {margin-right:40px !important;}
.ml50 {margin-left:50px !important;}	.mr50 {margin-right:50px !important;}
.pt0 {padding-top:0px !important;}      .pb0 {padding-bottom:0 !important;}
.pt5 {padding-top:5px !important;}      .pb5 {padding-bottom:5px !important;}
.pt10 {padding-top:10px !important;}	.pb10 {padding-bottom:10px !important;}	/*.ptm10 {padding-top:-10px !important;}*/
.pt20 {padding-top:20px !important;}	.pb20 {padding-bottom:20px !important;}	/*.ptm20 {padding-top:-20px !important;}*/
.pt30 {padding-top:30px !important;}	.pb30 {padding-bottom:30px !important;}	/*.ptm30 {padding-top:-30px !important;}*/
.pt40 {padding-top:40px !important;}	.pb40 {padding-bottom:40px !important;}	/*.ptm40 {padding-top:-40px !important;}*/
.pt50 {padding-top:50px !important;}	.pb50 {padding-bottom:50px !important;}	/*.ptm50 {padding-top:-50px !important;}*/
.pr0 {padding-right:0px !important;}
.pl5 {padding-left:5px !important;}	    .pr5 {padding-right:5px !important;}
.pl10 {padding-left:10px !important;}	.pr10 {padding-right:10px !important;}
.pl20 {padding-left:20px !important;}	.pr20 {padding-right:20px !important;}
.pl30 {padding-left:30px !important;}	.pr30 {padding-right:30px !important;}
.pl40 {padding-left:40px !important;}	.pr40 {padding-right:40px !important;}
.pl50 {padding-left:50px !important;}	.pr50 {padding-right:50px !important;}


/* ==========================================================================
custom style
========================================================================== */
/* 모션관련 */
.mov_spd {
	-webkit-transition: all 0.3s ease-out;
	   -moz-transition: all 0.3s ease-out;
	     -o-transition: all 0.3s ease-out;
	        transition: all 0.3s ease-out;
}
.mov_spd01 {transition:all 1.5s 0.5s !important;}
.mov_spd02 {transition:all 1.5s 1s !important;}
.mov_spd03 {transition:all 1.5s 1.5s !important;}
.mov_spd04 {transition:all 1.5s 2s !important;}
.move {position: relative; opacity: 0; transform: translate(0, 100px); transition:all 1.5s 0.5s;z-index:2;}
.active .move { opacity: 1 !important; transform: translate(0, 0) !important;}


/*페이지 이동시 전체콘텐츠 보여주는 클레스 con_show */
.con_ctl {opacity:0;transform: translate(0, 100px);transition: all 1s 0.5s;}
.con_ctl.con_active {transform: translate(0, 0);opacity:1;}

.shadow {
	box-shadow: 3px 4px 10px #ddd; /* Opera 10.5+, future browsers and IE6+ using IE-CSS3 */
	-moz-box-shadow: rgb(0 0 0 / 14%) 5px 5px 4px !important; /* Firefox */
	-webkit-box-shadow: rgb(0 0 0 / 14%) 5px 5px 4px!important; /* Safari and Chrome */	
	 box-shadow: rgb(0 0 0 / 14%) 5px 5px 4px !important;
}
.gradient {
    background: transparent !ie;/* IE에서 Filter적용을 위해 배경을 지움 */
	background:#df0224 !important;
	background: linear-gradient(to left, #f54820,#df0123)!important;
	background: -webkit-linear-gradient(90deg, rgb(254, 72, 32) 20%, rgb(233, 34, 34) 50%, rgb(223, 2, 36) 100%)!important;
	background: -moz-linear-gradient(90deg, rgb(254, 72, 32) 20%, rgb(233, 34, 34) 50%, rgb(223, 2, 36) 100%) !important;
	background: -o-linear-gradient(90deg, rgb(254, 72, 32) 20%, rgb(233, 34, 34) 50%, rgb(223, 2, 36) 100%) !important;
	/* IE5.5-7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#df0224, endColorstr=#f93435)!important;
    /* IE8,9 */
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#df0224, endColorstr=#f93435)"!important;
	background: linear-gradient(90deg, rgb(254, 72, 32) 20%, rgb(230, 61, 50) 50%, rgb(223, 2, 36) 100%) !important;
}

/*컨텐츠 정렬*/
.f_l {float:left;}
.f_r {float:right;}
.f_center {display: flex;flex-direction: column;align-items: center;justify-content: center;}
.text_center {text-align:center;}
.text_left {text-align:left;}
.text_right {text-align:right;}

.clear:after {content:'';display:block;clear:both;}
.block {display:block;}
.inline {display:inline !important;}
.inline_block {display:inline-block !important;}
.bordernone {border:none !important;}
.borderTnone {border-top:none !important; }

/*font*/
.t_Pretendard {font-family:"Pretendard" !important;}
.t_ChosunSm {font-family: "ChosunSm" !important;}

.color_main {color:var(--color-main) !important;}
.color_sub {color:var(--color-sub) !important;}


/*tab style*/

/*btn style*/
[class*="icon-"],
[class*="xi-"] {display:inline-block;}
[class*="btn-"]{display:inline-block;width:auto;min-width:100px;padding:20px;background:#000;min-height:50px;padding:10px 10px;line-height:30px;box-sizing:border-box;color:#fff;border-radius:5px;text-align:center;}
.btn-green {background:var(--color-main);}
/*list style*/
 
/*icon style**/


/*custom scroll*/
.scroll_none {overflow-y:hidden !important;}
.custom_scroll_y {}
.custom_scroll_x {}


/* 팝업 */
.popup_dim {}
.popup_wrap {}
.popup_content {}
.popup_content .top {}
.popup_content .con {}

