@charset "utf-8";
/*==========================================================================
main 
==========================================================================*/

/*common*/
body,
html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overscroll-behavior: contain;
    /*새로고침 막기*/
}
body::-webkit-scrollbar,
html::-webkit-scrollbar {
    display: none;
}

.more-btn {
    display: block;
    text-align: center;
}

.more-btn button {
    padding: 17px 120px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #1f79df;
    border: 1px solid #1f79df;
    border-radius: 100px;
    background: none;
}

.more-btn button:hover {
    color: #fff;
    background-color: #1f79df;
    transition: all 0.2s;
}