@charset "utf-8";
/*==========================================================================
main 
==========================================================================*/

/*common*/
body,
html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overscroll-behavior: contain;
    /*새로고침 막기*/
}
body::-webkit-scrollbar,
html::-webkit-scrollbar {
    display: none;
}
