@charset "utf-8";

/*==========================================================================
subpage
==========================================================================*/

.con-wrap {
    margin-top: 85px;
    padding: 70px 100px;
}

.common-wrap {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -15%;
    padding: 70px 0;
}

.common-inner {
    border: 1px solid yellow;
    display: flex;
}

.sub-inner {
    padding-top: 70px;
}

/* 로그인 -------------------------------------------------------------- */
.login-wrap {
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -10%;
}

.login-form {
    margin: 0 auto;
}

.login-form div input {
    width: 560px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-form ul {
    display: flex;
    justify-content: center;
}

.login-form ul li:not(:last-child)::after {
    margin: 0 10px;
    content: "";
    background-color: #ddd;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: -3px;
}

.login-form ul li a {
    color: #666;
    font-weight: 600;
}

.login-form ul li a:hover {
    color: #0a5fc1;
    text-decoration : underline;
    text-underline-position : under;
}

.login-form .login-btn input{
    width: 560px;
    height: 60px;
    background-color: #1f79df;
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
}

.login-form .login-btn input:hover {
    background-color: #0059bf;
    transition: all 0.2s;
}

/* 아이디/비밀번호 찾기 */
.search_idpw p {
    color: #666;
}

.search_idpw .tabnav {
    margin-bottom: 30px;
}

.search_idpw .tabnav li a {
    position: relative;
    display: block;
    width: 300px;
    color: #666;
    line-height: 46px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
}

.search_idpw .tabnav li a.active {
    color: #1a69c3;
}

.search_idpw .field input {
    width: 600px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.search_idpw .btn input {
    width: 600px;
    height: 60px;
    background-color: #1f79df;
    border: none;
    border-radius: 30px;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;

}

/* 회원가입 -------------------------------------------------------------- */
.join-form {
    margin: 0 auto;
    width: 624px;
    box-sizing: border-box;
}

.join-form p input {
    width: 624px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.join-form .field {
    margin-bottom: 20px;
}

.join-form p.join-txt {
    margin: 10px 0 20px 20px;
    text-align: left;
    color: #666;
    font-size: 0.9rem;
    font-weight: 500;
}

.join-form .tel-number select{
    width: 188px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.join-form .tel-number input{
    width: 188px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.join-form span {
    padding: 0 5px;
}

.join-form .join-btn input {
    width: 624px;
    height: 60px;
    background-color: #1f79df;
    border: none;
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
}

.join-form .join-btn input:hover {
    background-color: #0059bf;
    transition: all 0.2s;
}

.footer_fix {
    position: absolute;
    bottom: 0;
}

/* 회원가입 완료 ------------------------------------------ */
.join-suc-wrap {
    padding-top: 150px;
}

.join-suc-wrap .join-suc-inner {
    margin: 0 auto;
    padding: 80px;
    width: 900px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fbfbfb;
}

.join-suc-wrap .check-img {
    display: inline-block;
    text-align: center;
}

.join-suc-wrap .suc-info p:nth-child(1){
    font-size: 1.6rem;
    font-weight: 600;
    color: #222;
}

.join-suc-wrap .suc-info p:nth-child(2){
    font-size: 1.1rem;
    line-height: 2.3rem;
    color: #666;
}

.join-suc-wrap .suc-info .btn a {
    display: inline-block;
    width: 260px;
    height: 60px;
    line-height: 60px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    border-radius: 60px;
    background-color: #1f79df;
}

/* 마이페이지 */
.mypage-wrap .tab-wrap {
    margin-bottom: 80px;
}

.mypage-wrap .tab-menu {
    /* display: flex;
    justify-content: space-around; */
}

.mypage-wrap .tab-menu li {
    float: left;
    width: 33.3%;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    
}

.mypage-wrap .tab-menu li a {
    box-sizing: border-box;
    display: block;
}


.mypage-wrap .tab-menu li.on {
    border-bottom: 2px solid #1f79df;
}

.mypage-wrap .tab-menu li.on a {
    color: #1f79df;
}


.mypage-wrap .info-box {
    background-color: #f5f5f5;
    padding: 30px 60px;
    margin-bottom: 20px;
}

.mypage-wrap .info-box ul li {
    line-height: 1.8rem;
    color: #666;
}

.mypage-wrap .info-box ul li::before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background-color: #1f79df;
    position: absolute;
    margin-top: 12px;
    margin-left: -8px;
}


.mypage-wrap p {
    font-size: 1.05rem;
    color: #222;
    font-weight: 600;
}

.mypage-wrap .meminfo-table {
    width: 1400px;
    border-top: 2px solid #222;
    box-sizing: border-box;
    font-family: 'Pretendard';
}

.mypage-wrap .meminfo-table tr {
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

.mypage-wrap .meminfo-table tr td {
    padding: 20px 0 20px 40px;
}

.mypage-wrap .meminfo-table tr td:first-child {
    color: #222;
    font-weight: 600;
}

.mypage-wrap .meminfo-table tr td:last-child {
    color: #666;
}

.mypage-wrap .meminfo-table tr td p.pw_txt {
    margin: 10px 0 0 20px;
    font-size: 0.9rem;
    color: #666;
}

.mypage-wrap .meminfo-table tr td input {
    width: 700px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.meminfo-wrap .btn {
    text-align: center;
}

.meminfo-wrap .btn input {
    padding: 0 150px;
    height: 60px;
    border-radius: 30px;
    font-family: 'Pretendard';
    font-size: 1.2rem;
    font-weight: 600;
}

.meminfo-wrap .btn input:first-child {
    margin-right: 10px;
    background-color: #1f79df;
    color: #fff;
}

.meminfo-wrap .btn input:first-child:hover {
    background-color: #0059bf;
    transition: all 0.2s;
}

.meminfo-wrap .btn input:last-child {
    background-color: #fff;
    border: 1px solid #666;
    color: #666;
}

.meminfo-wrap .btn input:last-child:hover {
    background-color: #666;
    transition: all 0.2s;
    color: #fff;
}









































