@charset "utf-8";

/*==========================================================================
subpage
==========================================================================*/

.con-wrap {
    margin-top: 85px;
    padding: 70px 100px;
}

.common-wrap {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -15%;
    padding: 70px 0;
}

.common-inner {
    border: 1px solid yellow;
    display: flex;
}

/* 로그인 -------------------------------------------------------------- */
.login-wrap {
    padding-top: 150px;
}

h2 {
    margin-bottom: 40px;
    font-size: 2.7rem;
}

.login-form {
    margin: 0 auto;
}

.login-form p input {
    width: 560px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-form ul {
    display: flex;
    justify-content: center;
}

.login-form ul li:not(:last-child)::after {
    margin: 0 10px;
    content: "";
    background-color: #ddd;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: -3px;
}

.login-form ul li a {
    color: #666;
    font-weight: 600;
}

.login-form ul li a:hover {
    color: #1f79df;
    text-decoration : underline;
    text-underline-position : under;
}

.login-form .login-btn input{
    width: 560px;
    height: 60px;
    background-color: #1f79df;
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
}

.login-form .login-btn input:hover {
    background-color: #1a69c3;
    transition: all 0.3s;
}

/* 아이디/비밀번호 찾기 */
.search_idpw p {
    color: #666;
}

.search_idpw .tabnav {
    margin-bottom: 30px;
}

.search_idpw .tabnav li a {
    position: relative;
    display: block;
    width: 300px;
    color: #666;
    line-height: 46px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
}

.search_idpw .tabnav li a.active {
    color: #1a69c3;
}

.search_idpw .field input {
    width: 600px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.search_idpw .btn input {
    width: 600px;
    height: 60px;
    background-color: #1f79df;
    border: none;
    border-radius: 30px;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;

}



/* 회원가입 -------------------------------------------------------------- */
.join-form {
    margin: 0 auto;
    width: 624px;
    box-sizing: border-box;
}

.join-form p input {
    width: 624px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.join-form .field {
    margin-bottom: 20px;
}

.join-form p.join-txt {
    margin: 10px 0 20px 30px;
    text-align: left;
    color: #666;
    font-size: 0.9rem;
    font-weight: 500;
}

.join-form .tel-number select{
    width: 188px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.join-form .tel-number input{
    width: 188px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.join-form span {
    padding: 0 5px;
}

.join-form .join-btn input {
    width: 624px;
    height: 60px;
    background-color: #1f79df;
    border: none;
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
}

.join-form .join-btn input:hover {
    background-color: #1a69c3;
    transition: all 0.3s;
}

.footer_fix {
    position: absolute;
    bottom: 0;
}










































