@charset "utf-8";

/*==========================================================================
subpage
==========================================================================*/

.con-wrap {
    margin-top: 85px;
    padding: 70px 100px;
}

.common-wrap {
    height: 100%;
    display: flex;
    border: 10px solid red;
    position: absolute;
    width: 100%;
    align-content: stretch;
    align-items: center;
    border-bottom: 2px solid #1f79df;
}

.common-inner {
    border: 1px solid yellow;
    display: flex;
}

.con-inner {
    margin-top: 139px;
}


/* 로그인 -------------------------------------------------------------- */
.fix-wrap {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    align-items: center;
}
.login-wrap {
    text-align: center;
}

.login-form {
    margin: 0 auto;
}

.login-form div input {
    width: 560px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-form ul {
    display: flex;
    justify-content: center;
}

.login-form ul li:not(:last-child)::after {
    margin: 0 10px;
    content: "";
    background-color: #ddd;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: -3px;
}

.login-form ul li a {
    color: #666;
    font-weight: 600;
}

.login-form ul li a:hover {
    color: #0a5fc1;
    text-decoration : underline;
    text-underline-position : under;
}

.login-form .login-btn input{
    width: 560px;
    height: 60px;
    background-color: #1f79df;
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
}

.login-form .login-btn input:hover {
    background-color: #0059bf;
    transition: all 0.2s;
}

/* 아이디/비밀번호 찾기 ------------------------------------------ */
.search-tit {
    margin-top: 100px;
}

.search_idpw p {
    color: #666;
}

.search_idpw .tabnav {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.search_idpw .tabnav li a {
    position: relative;
    display: block;
    width: 300px;
    color: #666;
    line-height: 46px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
}

.search_idpw .tabnav li a.active {
    color: #1f79df;
    border-bottom: 2px solid #1f79df;
}

.search_idpw .field input {
    width: 600px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.search_idpw .btn input {
    width: 600px;
    height: 60px;
    background-color: #1f79df;
    border: none;
    border-radius: 30px;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;

}

.search-wrapper input {
    width: 560px;
    height: 60px;
    background-color: #1f79df;
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
}


.search-wrapper input:hover {
    background-color: #0059bf;
    transition: all 0.2s;
}


/* 회원가입 -------------------------------------------------------------- */
.join-form {
    margin: 0 auto;
    padding-bottom: 70px;
    width: 624px;
    box-sizing: border-box;
}

.join-form p input {
    width: 624px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.check {
    padding-top: 10px;
}

.join-form .field {
    text-align: left;
    margin-bottom: 20px;
}

.join-form .field .check-txt {
    padding-top: 10px;
}


.join-form .field p span {
    margin-top: 15px;
}

.join-form p.join-txt {
    margin: 10px 0 20px 20px;
    text-align: left;
    color: #666;
    font-size: 0.9rem;
    font-weight: 500;
}

.join-form .tel-number select{
    width: 188px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.join-form .tel-number input{
    width: 188px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.join-form span {
    padding-left: 20px;
}

.join-form .join-btn input {
    width: 624px;
    height: 60px;
    background-color: #1f79df;
    border: none;
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
}

.join-form .join-btn input:hover {
    background-color: #0059bf;
    transition: all 0.2s;
}

.footer_fix {
    position: absolute;
    bottom: 0;
}

/* 회원가입 완료 ------------------------------------------ */
.join-suc-wrap {
    padding-top: 150px;
}

.join-suc-wrap .join-suc-inner {
    margin: 0 auto;
    padding: 80px;
    width: 900px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fbfbfb;
}

.join-suc-wrap .check-img {
    display: inline-block;
    text-align: center;
}

.join-suc-wrap .suc-info p:nth-child(1){
    font-size: 1.6rem;
    font-weight: 600;
    color: #222;
}

.join-suc-wrap .suc-info p:nth-child(2){
    font-size: 1.1rem;
    line-height: 2.3rem;
    color: #666;
}

.join-suc-wrap .suc-info .btn a {
    display: inline-block;
    width: 260px;
    height: 60px;
    line-height: 60px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    border-radius: 60px;
    background-color: #1f79df;
}

/* 마이페이지 ------------------------------------------------ */
.mypage-wrap .tab-wrap {
    margin-bottom: 80px;
    padding-top: 30px;
}

.mypage-wrap .tab-menu {
    /* display: flex;
    justify-content: space-around; */
}

.mypage-wrap .tab-menu li {
    float: left;
    width: 33.3%;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    
}

.mypage-wrap .tab-menu li a {
    box-sizing: border-box;
    display: block;
}

.mypage-wrap .tab-menu li a:hover {
    color: #1f79df;

}

.mypage-wrap .tab-menu li.on {
    border-bottom: 2px solid #1f79df;
}

.mypage-wrap .tab-menu li.on a {
    color: #1f79df;
}


.info-box {
    background-color: #f5f5f5;
    padding: 30px 60px;
    margin-bottom: 40px;
}

.info-box ul li {
    line-height: 1.8rem;
    color: #666;
}

.info-box ul li::before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background-color: #1f79df;
    position: absolute;
    margin-top: 12px;
    margin-left: -8px;
}


.mypage-wrap p, .mypage-wrap span {
    font-size: 1.3rem;
    font-weight: 800;
    color: #222;
}

.mem-out form input {
    width: 55px;
    border-radius: 5px;
    height: 35px;
    border: 1px solid #666;
    text-align: center;
}

.mypage-wrap .meminfo-table {
    width: 1400px;
    border-top: 2px solid #222;
    box-sizing: border-box;
    font-family: 'Pretendard';
}

.mypage-wrap .meminfo-table tr {
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

.mypage-wrap .meminfo-table tr td {
    padding: 20px 0 20px 40px;
}

.mypage-wrap .meminfo-table tr td:first-child {
    color: #222;
    font-weight: 600;
}

.mypage-wrap .meminfo-table tr td:last-child {
    color: #666;
}

.mypage-wrap .meminfo-table tr td p.pw_txt {
    margin: 10px 0 0 20px;
    font-size: 0.9rem;
    color: #666;
}

.mypage-wrap .meminfo-table tr td input {
    width: 700px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.memSaleImage img {
    width: 130px;
    height: 130px;
    object-fit: cover;
}


/* 버튼 공통 */

.btn {
    width: 100%;
    text-align: center;
}

.btn input {
    padding: 0 150px;
    height: 60px;
    border-radius: 30px;
    font-family: 'Pretendard';
    font-size: 1.2rem;
    font-weight: 600;
}

.btn input:first-child {
    margin-right: 10px;
    background-color: #1f79df;
    color: #fff;
}

.btn input:first-child:hover {
    background-color: #0059bf;
    transition: all 0.2s;
}

.btn input:last-child {
    background-color: #fff;
    border: 1px solid #666;
    color: #666;
}

.btn input:last-child:hover {
    background-color: #666;
    transition: all 0.2s;
    color: #fff;
}

/* 회원 탈퇴 버튼 */
.meminfo-wrap .mem-out .withdrawal-btn{
	padding: 0 35px;
    height: 40px;
    border-radius: 30px;
    font-family: 'Pretendard';
    font-size: 1.2rem;
    font-weight: 600;
}

/* 내역 없을 경우(공통) */
.meminfo-table .empty-area {
    text-align: center;
    padding: 180px 0 !important;
}

.meminfo-table .empty-area p {
    color: #999;
    font-size: 1.2rem;
    font-weight: 500;
}

.meminfo-table .empty-area p img {
    margin: 0 auto;
    display: inline-block;
}

div.mem-out {
    display: inline-block;
    float: right;

}

/* 상품 등록하기--------------------------------------------- */
.agree-wrap {
    width: 1400px;
}

.agree-wrap textarea {
    margin-bottom: 20px;
    padding: 30px 50px;
    width: 1400px;
    height: 120px;
    box-sizing: border-box;
    font-size: 0.9rem;
    line-height: 1.6rem;
    font-weight: 300;
    color: #666;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

/* 동의하기 */
.checks {position: relative;}

.checks input[type="checkbox"] {  /* 실제 체크박스는 화면에서 숨김 */
  position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip:rect(0,0,0,0);
   border: 0
}

.checks input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.checks label {
    font-size: 1.0rem;
    color: #666;
} 

/* checkbox off */
.checks input[type="checkbox"] + label:before {  /* 가짜 체크박스 */
  content: ' ';
  display: inline-block;
  width: 17px;  /* 체크박스의 너비를 지정 */
  height: 17px;  /* 체크박스의 높이를 지정 */
  line-height: 17px; /* 세로정렬을 위해 높이값과 일치 */
  margin: -2px 5px 0 0;
  text-align: center; 
  vertical-align: middle;
  background: no-repeat url(../../images/check_box_off.png);
}

/* checkbox on */
.checks input[type="checkbox"]:checked + label:before {  /* 체크박스를 체크했을때 */ 
    content: ' ';
    display: inline-block;
    text-align: center; 
    vertical-align: middle;
    background: no-repeat url(../../images/check_box_on.png);
}

/* 상품 정보 등록 테이블 */
.inputArea {
    font-family: 'Pretendard';
    margin-top: 40px;
    width: 100%;
}

.inputArea tr{
    border-bottom: 1px solid #ddd;
}

.inputArea tr:first-child{
    border-top: 2px solid #222;
}

.inputArea tr:last-child{
    border-bottom: 1px solid #222;
}

.inputArea tr td {
    padding: 20px 30px 20px 30px
}

.inputArea tr td input {
    width: 445px;
}

.inputArea tr td select {
    margin-right: 5px;
    width: 333px;
}

.inputArea tr td textarea, .inputArea .fake_textarea {
    padding-right: 30px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.inputArea .fake_textarea {
    line-height: 30px;
    height: 320px;
    overflow: auto;
}

.inputArea .fake_textarea table{
    width: 100%;
    font-family: 'Pretendard';
    border-top: hidden;
    border-bottom: hidden;
}

.inputArea .fake_textarea td:nth-child(2n-1) {
    background-color: #f8f8f8;
    border-right: 1px solid #ddd;
    color: #222;
    font-weight: 600;
}

.inputArea .fake_textarea td:nth-child(2) {
    border-right: 1px solid #ddd;
}

.inputArea tr td input, .inputArea tr td select {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 0.9rem;
    color: #666;
}

.inputArea tr td label {
    font-size: 1.05rem;
    font-weight: 700;
}

/* 파일 업로드 */
.filebox label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
  
.filebox .file_real {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.filebox .file_fake {
    padding: 0 15px;
    width: 100%;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.filebox .button {
    width: 100px;
    position: absolute;
    top: 0px;
    bottom: 0;
    padding-bottom: 2px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.0rem;
    font-weight: 500;
    color: #fff;
    background-color: #0d6efd;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

.inputArea .file-info {
    margin-top: 10px;
    font-size: 0.95rem;
    color: #666;
}

.inputArea .file-info span {
    margin-left: 8px;
    font-weight: 600;
}

.inputArea .file-info span::before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background-color: #1f79df;
    position: absolute;
    margin-top: 9px;
    margin-left: -8px;
}

.inputArea .regi-tit input {
    width: 100%;
}

.inputArea span {
    font-size: 1.05rem;
    font-weight: 500;
    color: #666;
}

.inputArea .img-info {
    margin-top: 10px;
}

.inputArea .img-info p {
    margin-bottom: 3px;
    font-size: 1rem;
    color: #666;
}

.inputArea .img-info ul li {
    font-size: 0.95rem;
    color: #666;
}

#result_card img{
    max-width: 100%;
    height: auto;
    display: block;
    padding: 5px;
    margin-top: 10px;
    margin: auto;
    width: 130px;
    height: 150px;
    object-fit: cover;	
}

#result_card {
    position: relative;
}

#uploadResult{
	display: flex;
}

.imgDeleteBtn{
    position: absolute;
    top: -4%;
    right: -3%;
    background-color: #ef7d7d;
    color: wheat;
    font-weight: 900;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 26px;
    text-align: center;
    border: none;
    display: block;
    cursor: pointer;	
}

/* 마이페이지 - 내가 찜한 목록, 판매 내역(공통)-------------------------- */

.meminfo-wrap .mypage-tit {
    font-size: 1.3rem;
    font-weight: 800;
    color: #222;
}

.meminfo-wrap .meminfo-img img {
    border: 1px solid #ddd;
    width: 130px;
    height: 130px;
}

.meminfo-wrap .pro-info {
    display: flex;
}

.meminfo-wrap .pro-info li {
    font-size: 0.9rem;
    color: #999;
}

.meminfo-wrap .pro-info li.pro-cate::after {
    content: "";
    margin: 0px 5px 3px 3px;
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background-color: #ddd;
}

.meminfo-wrap p.name {
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 3rem;
    color: #222;
}

.meminfo-wrap p.price {
    font-size: 1.5rem;
    font-weight: 900;
}

.meminfo-wrap p span.won {
    font-size: 1.2rem;
    font-weight: 400;
    color: #666;
}

.meminfo-wrap button.del-btn {
    padding: 10px 0;
    width: 170px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #666;
    border: 1px solid #666;
    border-radius: 31px;
    background: none;
}


.meminfo-wrap button.del-btn {
    padding: 10px 0;
    width: 170px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #666;
    border: 1px solid #666;
    border-radius: 31px;
    background: none;
}

.meminfo-wrap button.del-btn:hover {
    background-color: #666;
    transition: all 0.2s;
    color: #fff;
}

/* 페이지 버튼(공통) */
.page {
    margin-top: 70px;
}

.page .page-prev {
    margin-right: 20px;
}

.page .pagination{
    position: relative;
}

.page .page-prev a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 10px;
    height: 10px;
    margin: -5px 0 0 17px;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    transform: rotate(225deg);
}

.page .page-next a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 10px;
    height: 10px;
    margin: -5px 0 0 12px;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    transform: rotate(45deg);
}

.page .page-next {
    margin-left: 10px;
}

.page .pagination .page-num:not(:last-child) {
    margin-right: 5px;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
}

.page-item .page-link {
    padding: 0rem;
    margin-left: -1px;
}

.page .page-num li:not(:last-child) {
    margin-right: 5px;
}

.page .pagination a.page-link {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 0;
    text-align: center;
    color: #999;
    border: 1px solid #ddd;
}

.page .pagination li.active a.page-link {
    color: #fff;
    background-color: #1f79df;
    border: 1px solid #1f79df;
    box-sizing: border-box;
}

/* 상품 검색 ---------------------------------------------- */
.search-wrap {
    background-color: #1f79df;
}

.search-wrap .search-con {
    padding: 100px 0;
    background-image: url('../../images/search_img01.png'), url('../../images/search_img02.png');
    background-position: 120px center, 1190px center;
    background-repeat: no-repeat;

}

.search-wrap h2 {
    color: #fff !important;
}

.search-wrap .search-con {
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
}

#searchProduct {
    width: 800px;
    padding: 35px;
    border-radius: 5px;
    box-sizing: border-box;
}

.search-input-wrap {
    margin: 0 auto;
    position: relative;
    width: 800px;
}

.search-btn {
    margin-right: 30px;
    background: none;
}

.search-btn span {
    display: block;
    width: 40px;
    height: 40px;
}

.search-con #searchProduct::placeholder {
    font-family: 'Pretendard';
    font-size: 1.3rem;
    font-weight: 700;
    color: #1965bc;
}

/* 상품 검색 - 검색 결과 없을 시 */

.empty-area {
    padding: 180px 0;
    border-top: 2px solid #222;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

.result-area {
    padding-top: 40px;
    border-top: 2px solid #222;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}


.empty-area p {
    text-align: center;
    color: #999;
    font-size: 1.2rem;
    font-weight: 500;
}

.empty-area p img {
    display: inline-block;
    margin: 0 auto;
}

/* 상품 검색 더보기 버튼 */

.more-btn {
    display: block;
    text-align: center;
}

.more-btn button {
    padding: 17px 120px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #1f79df;
    border: 1px solid #1f79df;
    border-radius: 100px;
    background: none;
}

.more-btn button:hover {
    color: #fff;
    background-color: #1f79df;
    transition: all 0.2s;
}



















































